doctype
html
    head
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous"
        )
        link(
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
            integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
            crossorigin="anonymous"
        )
        script(
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"
        )
    body
    div(class="container")
        div(class="header clearfix")
            nav
                ul(class="nav nav-pills pull-right")
                    if user
                        li(role="presentation")
                            a(href="/") Login
                        li(role="presentation") DashBoard
                            a(href="/users/logout") Logout
                    else
                        li(role="presentation")
                            a(href="/users/login") Login
                        li(role="presentation")
                            a(href="/users/register") Register
            h3(class="text-muted") LoginApp
        block content
        footer(class="footer")
            p 2017 Login By Daryl